.app {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  height: 100%;
  padding: 10px;
  background-color: #282c34;
}

.title {
  color: #61dafb;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.no_bookmarks {
  color: #61dafb;
  font-size: 1.25em;
  margin-bottom: 10px;
}

.bookmark {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bookmark_description, .bookmark_time {
  color: #61dafb;
  font-size: 1.25em;
  margin-bottom: 10px;
}

.control_elements {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.control_element {
  margin: 2px;
  border: 1px solid #61dafb;
  border-radius: 5px;
  color: #61dafb;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 20px;
  height: 20px;
}