.bookmark_btn {
    
    &:active {
        transform: translateY(4px);
    }
}

.bookmark-indicator {
    width: 13px;
    height: 13px;
    color: aqua;
    border-radius: 50%;
    background-color: rgb(38, 57, 200);
}